body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  

  /* Styles for the legend */
.mapboxgl-ctrl {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .mapboxgl-ctrl h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .mapboxgl-ctrl div {
    margin-bottom: 5px;
  }
  
  /* Styles for the legend dot */
  .legend-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  