body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  height: 100vh; /* 100% of the viewport height */
}


#logo-container {
  text-align: center;
  margin-bottom: 20px;
}

#logo {
  width: 200px;
}

.dashboard {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.map {
  position: relative; /* Add this line */
  width: 70%;
  height: 100%;
}

.mapboxgl-ctrl {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.mapboxgl-ctrl div {
  margin-bottom: 5px;
}

.legend-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

#date-filter {
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
}

#date-filter label {
  display: block;
  margin-bottom: 10px;
}

#date-filter input[type="datetime-local"] {
  width: 100%;
  margin-bottom: 10px;
}

#date-filter button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(132, 45, 55);
  color: #fff;
  border: none;
  cursor: pointer;
}

#date-filter button:hover {
  background-color:  rgb(132, 45, 55);
}

.map-legend {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the legend is above the map */
}

.map-legend h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.map-legend div {
  margin-bottom: 5px;
}

.legend-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px; /* Change border-radius to 2px */
  margin-right: 5px;
}
